.item {
    font-family: inherit;
    line-height: inherit;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 0 16px;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
    border-radius: 8px;
    box-sizing: border-box;
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-right: 40px;
    justify-content: space-between;
}

.btn {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
    -webkit-appearance: button;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    text-align: center;
    border: none;
    padding: 2px 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.btn span {
    position: absolute;
    height: 1px;
    width: 16px;
    background-color: #949393;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn span:nth-child(1) {
    transform: rotate(45deg);
}

.btn span:nth-child(2) {
    transform: rotate(-45deg);
}

.priority {
    width: fit-content;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
    -webkit-appearance: button;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 2px 10px;
    margin-right: 20px;
}

.priority_high {
    background: #F44336;
}

.priority_middle {
    background: #FF9800
}

.priority_low {
    background: #8BC34A
}

.btnContainer{
display: flex;
    flex-wrap: wrap;
}

.btnFilter{
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
    -webkit-appearance: button;
    font-size: 14px;
    font-weight: 500;
    /*color: #91699c;*/
    border: 1px solid #000;
    border-radius: 8px;
    background: #fff;
    text-align: center;
    width: fit-content;
    max-width: 500px;
    display: block;
    padding: 2px 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}

.btnFilter.active{
    border: 1px solid #91699c;
    color: #91699c;
}

