.input {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    font-size: 14px;
    font-weight: 400;
    color: #545454;
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 0 16px;
    background: #fff;
    border-radius: 8px;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.container div:nth-child(1) {
    width: 100%;
    max-width: 500px;
}

.someClass {
    border: 1px solid #eeeeee;
}

.error {
    border: 1px solid red;
}

.btn {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
    -webkit-appearance: button;
    font-size: 14px;
    font-weight: 500;
    color: #91699c;
    border: 2px solid #91699c;
    border-radius: 8px;
    background: #fff;
    text-align: center;
    width: 100%;
    max-width: 500px;
    display: block;
    padding: 8px;
    max-height: 40px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #91699c;
    color: #fff;
}

.totalUsers {
    text-align: center;
    width: 100px;
    padding: 0 20px 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.totalUsers div {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #91699c;
}

.totalUsers div:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #231f20;
}

.errorMessage {
    display: inline-block;
    font-family: inherit;
    line-height: inherit;
    font-size: 14px;
    font-weight: 400;
    color: red;
    margin: 10px 0 0 0;
}


