.input {
    width: 100%;
    max-width: 500px;
}

.container {
    display: flex;
}

.container div:nth-child(1) {
    width: 100%;
    max-width: 500px;
}

.someClass {
    border: 1px solid #C1C1C1;
}

.error {
    border: 1px solid red;
}
.btnContainer{
    width: 100%;
    margin: auto;
}

.btn {
    display: block;
    max-width: 500px;
    min-width: 100px;
    margin-top: 10px;
    margin-right: 5px;
    background: #8f5fe8;
    border-color: #8f5fe8;
}

.btn:hover {
    background: #783ee3;
    border-color: #7032e2;
}

.btn:disabled:hover {
    background: rgba(228, 234, 236);
    border-color: rgba(228, 234, 236);
}

.btn:disabled {
    background: rgba(228, 234, 236);
    border-color: rgba(228, 234, 236);
    cursor: unset;
}

.totalUsers {
    text-align: center;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #91699c;
    padding: 0 20px;
    margin: 0 20px;
}

.totalUsers div {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #91699c;
}

.totalUsers div:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #231f20;
    margin-left: 10px;
}

.errorMessage {
    display: inline-block;
    font-family: inherit;
    line-height: inherit;
    font-size: 14px;
    font-weight: 400;
    color: red;
    margin: 10px 0 0 0;
}


